body {
    background-color: #f2e9dd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
} 



.main-container {
    display: flex;
    height: 90vh;
}

.header-main {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    justify-content: flex-end;


}

/* aside {
    width: 20%;
    height: 100%;
    background-color: red;
    display: inline-flex;

} */

/* header{
    width: 80%;
} */
aside {
    background-color: #faf4ed;
    width: 20%;
    
}

/* article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
} */

h1 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

h2 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
}

h3 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
}

li {
    color: #2c7390;
}

button {
    border: 0;
    line-height: 2.7;
    padding: 0 13px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    
}

.button-1 {
    display: flex;
    justify-content: space-between;
}

.new_note_button {
    background-color: #5394A0;
}

.theme_button {
    background-color: #6F6A87;
}

.save_button {
    background-color: #5394A0;
}

.cancel_button {
    background-color: #D9827C;
}





/* header{
    display: flex;
} */

/* aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    position: fixed;
} */