body {
    background-color: #f2e9dd;
}

aside {
    background-color: #faf4ed;
}

h1 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
}

h2 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
}

h3 {
    color: #2c7390;
    font-family: 'Space Mono', monospace;
}

li {
    color: #2c7390;
}

button {
    border: 0;
    line-height: 2.7;
    padding: 0 13px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    
}

.new_note_button {
    background-color: #5394A0;
}

.theme_button {
    background-color: #6F6A87;
}

.save_button {
    background-color: #5394A0;
}

.cancel_button {
    background-color: #D9827C;
}